.container {
  max-width: 960px;
  margin: 0 auto;
}

.padding-10 {
  padding: 10px;
}

.padding-20-top {
  padding-top: 25px;
}

.padding-60-top {
  padding-top: 60px;
}

.line-height1 {
  line-height: 1;
}

.margin-10 {
  margin: 0 10px;
}
