.container {
  max-width: 950px;
  margin: 0 auto;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-60-top {
  padding-top: 60px;
}

.line-height1 {
  line-height: 1;
}
